packages/vehicle-manufacture/installers/hlfv1/flows.json
[{"id":"2ac0702d.23d99","type":"tab","label":"IOT Flow","disabled":false,"info":""},{"id":"3a59e0c9.21a078","type":"ibmiot in","z":"2ac0702d.23d99","authentication":"quickstart","apiKey":"fbf35433.e0a02","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"b0b448c04e85","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoTP Test Device","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":400,"y":440,"wires":[["d01a0e39.24e6e"]]},{"id":"6e34b22d.c35ea4","type":"switch","z":"2ac0702d.23d99","name":"Event","property":"payload.d.event","propertyType":"msg","rules":[{"t":"eq","v":"ACTIVATED","vt":"str"},{"t":"eq","v":"NONE","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1050,"y":380,"wires":[["2ebe226c.a905de"],["797b720f.3a575c"],["6c66d506.7372ec"]]},{"id":"d01a0e39.24e6e","type":"function","z":"2ac0702d.23d99","name":"Compute Event","func":"// Ref: http://www.pieter-jan.com/node/11\n// Using a complimentary filer\n\nvar events = flow.get('events');\n//\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"\nvar lastevent = flow.get('lastevent') |\"NONE\";\nvar vin = flow.get('vin') || \"UNDEFINED\";\nd = msg.payload.d;\nvar key_count = 0;\nfor(var key in d)\n{\n    d[key] = d[key].split(',').join('.');\n}\nif(d.accelX)\n{\n    // DATA SENT BY IPHONE NEED TO FORMAT IT AS ANDROID WOULD\n    for(var key in d)\n    {\n        var new_key = key.replace(/([A-Z])/g, function($1){return \"_\"+$1.toLowerCase();});\n        if(key.indexOf('accel') != -1)\n        {\n            new_key = new_key.split('el').join('')\n        }\n        d[new_key] = d[key]\n    }\n}\nmsg.payload.d.event = \"NONE\";\nmsg.payload.d.vin = vin;\n\nvar num_keys = Object.keys(d).length;\n\nif (d.myName && num_keys == 3){  // ON CONNECT EVENT DEVICE JUST SENDS 1 FIELD SO CHECK IF EQUAL TO 3 AS WE ADD 2\n        msg.payload.d.event = \"ACTIVATED\";\n} else {\n    // basic assumption: since this is a demo, it is unlikely that two of our events \n    // will occur simultaneously - mag TBD\n    // If they do, overwrites may happen\n    //////////////////////////////////////////////\n    //For Crash related events\n    var pitch       =   flow.get('pitch')||0;\n    var roll        =   flow.get('roll')||0;\n    var accsense    =   flow.get('accSensitivity')||0;\n    var gyrsense    =   flow.get('gyroSensitivity')||0;\n    var dt          =   flow.get('dt',0.01);\n    \n    // pitch and roll calculation -  can be trained further\n    pitch += ((d.gyro_x*1000) / gyrsense) * dt;\n    roll -= ((d.gyro_y*1000) / gyrsense) * dt;\n    \n    forceMagnitudeApprox = Math.abs((d.acc_x*1000))+Math.abs((d.acc_y*1000))+Math.abs((d.acc_z*1000));\n    \n    if (forceMagnitudeApprox > 8192 && forceMagnitudeApprox < 32768)\n    {\n    // Turning around the X axis results in a vector on the Y-axis\n        pitchAcc = Math.atan2((d.acc_y *1000), (d.acc_z*1000)) * 180 / Math.PI;\n        pitch = pitch * 0.98 + pitchAcc * 0.02;\n    \n    // Turning around the Y axis results in a vector on the X-axis\n        rollAcc = Math.atan2((d.acc_x*1000), (d.acc_z*1000)) * 180 / Math.PI;\n        roll = roll * 0.98 + rollAcc * 0.02;\n    }\n    \n    pitchDiff = Math.abs(Math.abs(flow.get('pitch')) - Math.abs(pitch));\n    rollDiff = Math.abs(Math.abs(flow.get('roll')) - Math.abs(roll));\n    \n    \n    msg.payload.d.pitch = pitch;\n    msg.payload.d.pitchdiff = pitchDiff;\n    msg.payload.d.roll = roll;\n    msg.payload.d.rolldiff = rollDiff;\n    \n    var acc_x = msg.payload.d.acc_x.split(',').join('.');\n    var acc_y = msg.payload.d.acc_y.split(',').join('.');\n    var acc_z = msg.payload.d.acc_z.split(',').join('.');\n    var magnitude = Math.sqrt((acc_x*acc_x)+(acc_y*acc_y)+(acc_z*acc_z))\n\n    ///////////////////////////////////////\n    // For Temp related Events\n    var lastambtemp =   flow.get('lastambtemp')||d.ambient_temp;\n    var lastobjtemp =   flow.get('lastobjtemp')||d.object_temp;\n    /////////////////////////////////////////\n    // Similarly, to come for magnetometer - not yet tested\n    \n    //////////////////////////////////////////\n    //  Events\n    //////////////////////////////////////////\n    // Is this a crash event?\n    if(magnitude > flow.get('allowed-acc') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    /*\n    if (Math.abs(d.acc_x - flow.get('resting-x-acc')) > flow.get('accelerometer-allowable-diff') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    if (Math.abs(d.acc_y - flow.get('resting-y-acc')) > flow.get('accelerometer-allowable-diff') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    if (Math.abs(d.acc_z - flow.get('resting-z-acc')) > flow.get('accelerometer-allowable-diff') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    */\n    /*\n    if (pitchDiff >flow.get('pitchdelta') && rollDiff >flow.get('rolldelta'))\n        msg.payload.d.event = \"CRASHED\";\n    */    \n    // Is this a over heating event?\n    // Going with object temperature for now. Will tweak as needed\n    if (d.object_temp > flow.get('too-hot') && event_allowed(\"OVERHEATED\")) {\n        disallow_event(\"OVERHEATED\");\n        msg.payload.d.event = \"OVERHEATED\";\n    }\n    \n    // Is this a freezing event?\n    // Going with object temperature for now. Will tweak as needed\n    if (d.object_temp < flow.get('too-cold') && event_allowed(\"OIL_FREEZING\")) {\n        disallow_event(\"OIL_FREEZING\");\n        msg.payload.d.event = \"OIL_FREEZING\";\n    }\n    // TODO: Add Magnetometer calculation to determine engine failure\n    // Set the flow context  variables with the new values\n    \n    flow.set('pitch', pitch);\n    flow.set('roll', roll);\n    msg.payload.d.lastobjtemp = lastobjtemp;\n    flow.set('lastambtemp',d.ambient_temp);\n    flow.set('lastobjtemp',d.object_temp);\n    // To be fed in from the webhook - overwrite device id with vin number\n    msg.payload.d.vehicleId = \"VIN001\";\n}\n\n\n\n    // added for my testing in node-red. possibly can be removed as timestamp will come from chaincode\n    var currentdate = new Date(); \n    var datetime = currentdate.getDate() + \"/\";\n     datetime +=(currentdate.getMonth()+1)  + \"/\" ;\n     datetime +=currentdate.getFullYear() + \" @ \"  ;\n     datetime +=currentdate.getHours() + \":\"  ;\n     datetime +=currentdate.getMinutes() + \":\" ;\n     datetime +=currentdate.getSeconds() + \" UTC\";\n     msg.payload.d.eventtime = datetime;\n     flow.set('lastevent',msg.payload.d.event);\n     if (msg.payload.d.event == lastevent) {\n         msg.payload.d.event = \"NONE\";\n     }\n     \nfunction event_allowed(event_type)\n{\n    return flow.get('allowed-events').includes(event_type)\n}\nfunction disallow_event(event_type)\n{\n    var events = flow.get('allowed-events');\n    var index = events.indexOf(event_type);\n    if (index !== -1) {\n        events.splice(index, 1);\n        flow.set('allowed-events', events)\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":831,"y":380,"wires":[["6e34b22d.c35ea4"]]},{"id":"6c66d506.7372ec","type":"function","z":"2ac0702d.23d99","name":"Create an Event","func":"var eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.d = msg.payload.d\nreturn eventMsg;","outputs":1,"noerr":0,"x":1240,"y":460,"wires":[["fdbf5714.c0bee"]]},{"id":"77bb0386.ca3994","type":"websocket out","z":"2ac0702d.23d99","name":"","server":"882943c0.09b288","client":"","x":1470,"y":380,"wires":[]},{"id":"797b720f.3a575c","type":"function","z":"2ac0702d.23d99","name":"Regular Stream","func":"var acc_x = msg.payload.d.acc_x.split(',').join('.');\nvar acc_y = msg.payload.d.acc_y.split(',').join('.');\nvar acc_z = msg.payload.d.acc_z.split(',').join('.');\nvar magnitude = Math.sqrt((acc_x*acc_x)+(acc_y*acc_y)+(acc_z*acc_z))\n\nvar eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.acceleration = magnitude;\neventMsg.payload.outside_temperature = msg.payload.d.ambient_temp.split(',').join('.');\neventMsg.payload.object_temperature = msg.payload.d.object_temp.split(',').join('.');\neventMsg.payload.light_level = msg.payload.d.light.split(',').join('.');\nreturn eventMsg;","outputs":1,"noerr":0,"x":1240,"y":380,"wires":[["77bb0386.ca3994"]]},{"id":"2ebe226c.a905de","type":"function","z":"2ac0702d.23d99","name":"Connection Event","func":"var eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.connected = true;\nreturn eventMsg;","outputs":1,"noerr":0,"x":1250,"y":300,"wires":[["bd2239fb.f27408","40cb8e3a.8c0748"]]},{"id":"bd2239fb.f27408","type":"websocket out","z":"2ac0702d.23d99","name":"","server":"882943c0.09b288","client":"","x":1470,"y":300,"wires":[]},{"id":"c802e710.69d778","type":"websocket in","z":"2ac0702d.23d99","name":"","server":"882943c0.09b288","client":"","x":110,"y":700,"wires":[["ab1c40d.bb3964"]]},{"id":"ab1c40d.bb3964","type":"function","z":"2ac0702d.23d99","name":"Store returned VIN","func":"flow.set('vin', JSON.parse(msg.payload).vin)\n\nvar eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.vin = flow.get('vin')\nreturn eventMsg;","outputs":1,"noerr":0,"x":310,"y":700,"wires":[["b86a3853.aa54f8"]]},{"id":"b86a3853.aa54f8","type":"debug","z":"2ac0702d.23d99","name":"/WS/IOT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":700,"wires":[]},{"id":"a3a6db12.c0ce5","type":"inject","z":"2ac0702d.23d99","name":"PUSH CONNECT ATTEMPT","topic":"","payload":"{\"d\":{\"myName\":\"CC2650 SensorTag\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":380,"y":180,"wires":[["d01a0e39.24e6e"]]},{"id":"511fd177.56b658","type":"inject","z":"2ac0702d.23d99","name":"PUSH OVERHEATED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":220,"wires":[["30dc4345.6be354"]]},{"id":"227f3ab0.362256","type":"inject","z":"2ac0702d.23d99","name":"PUSH OIL_FREEZING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":260,"wires":[["acb2a4d7.497418"]]},{"id":"1031b1be.29f9c6","type":"function","z":"2ac0702d.23d99","name":"Initialise list of allowed events","func":"flow.set('allowed-events', [\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"])\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["c6ccb285.ff95c8"]]},{"id":"9435431c.76a25","type":"inject","z":"2ac0702d.23d99","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":60,"wires":[["1031b1be.29f9c6"]]},{"id":"9fbea649.efc24","type":"inject","z":"2ac0702d.23d99","name":"PUSH CRASH","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":300,"wires":[["19de1ba0.416914"]]},{"id":"40cb8e3a.8c0748","type":"function","z":"2ac0702d.23d99","name":"Reset allowable events list","func":"flow.set('allowed-events', [\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"])\nreturn msg","outputs":1,"noerr":0,"x":1520,"y":260,"wires":[[]]},{"id":"fdbf5714.c0bee","type":"function","z":"2ac0702d.23d99","name":"parse","func":"var eventMsg = {}\nvar message = msg.payload.d;\nvar acceleration = Math.sqrt((message.acc_x*message.acc_x)+(message.acc_y*message.acc_y)+(message.acc_z*message.acc_z))\n\neventMsg.payload = {\n  \"$class\": \"org.acme.vehicle_network.AddUsageEvent\",\n  \"vehicle\": \"resource:org.acme.vehicle_network.Vehicle#\"+message.vin,\n  \"usageEvent\": {\n    \"$class\": \"org.acme.vehicle_network.UsageEvent\",\n    \"eventID\": generateID(),\n    \"eventType\": message.event,\n    \"acceleration\": acceleration,\n    \"roll\": message.roll,\n    \"pitch\": message.pitch,\n    \"engine_temperature\": message.object_temp,\n    \"air_temperature\": message.ambient_temp,\n    \"light_level\": message.light,\n    \"timestamp\": new Date()\n  }\n}\neventMsg.url = context.global.endpoint + '/AddUsageEvent'\n\nfunction generateID() { // EXISTING EVENTS DON'T COME WITH ID SO MAKE ONE FOR SCROLLING PURPOSES\n    function s4() {\n      return Math.floor((1 + Math.random()) * 0x10000)\n        .toString(16)\n        .substring(1);\n    }\n    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +\n        s4() + '-' + s4() + s4() + s4();\n}\n\nreturn eventMsg;\n","outputs":1,"noerr":0,"x":1450,"y":460,"wires":[["3b857469.760b04"]]},{"id":"c6ccb285.ff95c8","type":"function","z":"2ac0702d.23d99","name":"Set Contexts","func":"// Ref: http://www.pieter-jan.com/node/11\n// This could easily be incorporated in the function, but \n// separating it out makes in cleaner and flow context helps expand the case\n//flow.set('count',0);\n// This will vary based on your IoTP device configuration\nflow.set('events','{\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"}');\nflow.set('deviceid',\"vehicle\");\nflow.set('pitch',0);\nflow.set('roll',0);\nflow.set('accSensitivity',8192.0);\nflow.set('gyroSensitivity',65.536);\nflow.set('dt',0.01);\t// 10 ms sample rate!\nflow.set('too-hot', 100);\nflow.set('too-cold', 5);\nflow.set('allowed-acc', 2.2)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":60,"wires":[[]]},{"id":"30dc4345.6be354","type":"function","z":"2ac0702d.23d99","name":"HOT PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,03\",\n        \"object_temp\": \"\"+(flow.get('too-hot')+1),\n        \"acc_x\": \"-0,02\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"-1,02\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["d01a0e39.24e6e"]]},{"id":"acb2a4d7.497418","type":"function","z":"2ac0702d.23d99","name":"COLD PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,03\",\n        \"object_temp\": \"\"+(flow.get('too-cold')-1),\n        \"acc_x\": \"-0,02\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"-1,02\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["d01a0e39.24e6e"]]},{"id":"19de1ba0.416914","type":"function","z":"2ac0702d.23d99","name":"CRASH PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,00\",\n        \"object_temp\": \"35,22\",\n        \"acc_x\": \"0,00\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"\"+(flow.get('allowed-acc')+1)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["d01a0e39.24e6e"]]},{"id":"d387f9c7.6633","type":"ibmiot in","z":"2ac0702d.23d99","authentication":"quickstart","apiKey":"fbf35433.e0a02","inputType":"evt","deviceId":"546c0e53024a","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Katherine 1","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":410,"y":480,"wires":[["d01a0e39.24e6e"]]},{"id":"f468cb47.d3853","type":"ibmiot in","z":"2ac0702d.23d99","authentication":"quickstart","apiKey":"fbf35433.e0a02","inputType":"evt","deviceId":"98072d324601","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Katherine 2","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":410,"y":520,"wires":[["d01a0e39.24e6e"]]},{"id":"426630c8.d18188","type":"comment","z":"2ac0702d.23d99","name":"DEBUGGING INPUTS","info":"","x":400,"y":140,"wires":[]},{"id":"a8fd5099.8dbc1","type":"comment","z":"2ac0702d.23d99","name":"LIVE IOT INPUTS","info":"","x":420,"y":400,"wires":[]},{"id":"b4f5fa57.ff0428","type":"comment","z":"2ac0702d.23d99","name":"On connect insurance reponds here with VIN","info":"","x":211,"y":659,"wires":[]},{"id":"3b857469.760b04","type":"http request","z":"2ac0702d.23d99","name":"AddUsageEvent","method":"POST","ret":"obj","url":"http://rest:3000/api/AddUsageEvent","tls":"","x":1630,"y":460,"wires":[["b4d600f.ed0c"]]},{"id":"b4d600f.ed0c","type":"debug","z":"2ac0702d.23d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1830,"y":460,"wires":[]},{"id":"fbf35433.e0a02","type":"ibmiot","z":"","name":"IOTP","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"882943c0.09b288","type":"websocket-listener","z":"","path":"/ws/iot","wholemsg":"false"}]