apps/manufacturer/config/node-red-flow.json
[{"id":"2ac0702d.23d99","type":"tab","label":"IOT Flow","disabled":false,"info":""},{"id":"ab1c40d.bb3964","type":"function","z":"2ac0702d.23d99","name":"Store returned VIN","func":"flow.set('vin', msg.payload.vin)\n\nvar eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.vin = flow.get('vin')\nreturn eventMsg;","outputs":1,"noerr":0,"x":390,"y":760,"wires":[["68a65236.ccb27c"]]},{"id":"1031b1be.29f9c6","type":"function","z":"2ac0702d.23d99","name":"Initialise list of allowed events","func":"flow.set('allowed-events', [\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"])\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["c6ccb285.ff95c8"]]},{"id":"9435431c.76a25","type":"inject","z":"2ac0702d.23d99","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":60,"wires":[["1031b1be.29f9c6"]]},{"id":"c6ccb285.ff95c8","type":"function","z":"2ac0702d.23d99","name":"Set Contexts","func":"// Ref: http://www.pieter-jan.com/node/11\n// This could easily be incorporated in the function, but \n// separating it out makes in cleaner and flow context helps expand the case\n//flow.set('count',0);\n// This will vary based on your IoTP device configuration\nflow.set('events', [\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"]);\nflow.set('deviceid',\"vehicle\");\nflow.set('pitch',0);\nflow.set('roll',0);\nflow.set('accSensitivity',8192.0);\nflow.set('gyroSensitivity',65.536);\nflow.set('dt',0.01);\t// 10 ms sample rate!\nflow.set('too-hot', 100);\nflow.set('too-cold', 5);\nflow.set('allowed-acc', 2.2);\nflow.set('url', 'http://arium_app:6002/api')\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":60,"wires":[[]]},{"id":"426630c8.d18188","type":"comment","z":"2ac0702d.23d99","name":"DEBUGGING INPUTS","info":"","x":400,"y":160,"wires":[]},{"id":"a8fd5099.8dbc1","type":"comment","z":"2ac0702d.23d99","name":"LIVE IOT INPUTS","info":"","x":440,"y":420,"wires":[]},{"id":"b4f5fa57.ff0428","type":"comment","z":"2ac0702d.23d99","name":"On connect insurance reponds here with VIN","info":"","x":210,"y":720,"wires":[]},{"id":"d01a0e39.24e6e","type":"function","z":"2ac0702d.23d99","name":"Compute Event","func":"// Ref: http://www.pieter-jan.com/node/11\n// Using a complimentary filer\n\nvar lastevent = flow.get('lastevent') |\"NONE\";\nvar vin = flow.get('vin') || \"UNDEFINED\";\nd = msg.payload.d;\nforce = msg.payload.force;\nvar key_count = 0;\nfor(var key in d)\n{\n    d[key] = d[key].split(',').join('.');\n}\nif(d.accelX)\n{\n    // DATA SENT BY IPHONE NEED TO FORMAT IT AS ANDROID WOULD\n    for(var key in d)\n    {\n        var new_key = key.replace(/([A-Z])/g, function($1){return \"_\"+$1.toLowerCase();});\n        if(key.indexOf('accel') != -1)\n        {\n            new_key = new_key.split('el').join('')\n        }\n        d[new_key] = d[key]\n    }\n}\nmsg.payload.d.event = \"NONE\";\nmsg.payload.d.vin = vin;\n\nvar num_keys = Object.keys(d).length;\n\nif (d.myName && num_keys == 3){  // ON CONNECT EVENT DEVICE JUST SENDS 1 FIELD SO CHECK IF EQUAL TO 3 AS WE ADD 2\n        msg.payload.d.event = \"ACTIVATED\";\n} else {\n    // basic assumption: since this is a demo, it is unlikely that two of our events \n    // will occur simultaneously - mag TBD\n    // If they do, overwrites may happen\n    //////////////////////////////////////////////\n    //For Crash related events\n    var pitch       =   flow.get('pitch')||0;\n    var roll        =   flow.get('roll')||0;\n    var accsense    =   flow.get('accSensitivity')||0;\n    var gyrsense    =   flow.get('gyroSensitivity')||0;\n    var dt          =   flow.get('dt',0.01);\n    \n    // pitch and roll calculation -  can be trained further\n    pitch += ((d.gyro_x*1000) / gyrsense) * dt;\n    roll -= ((d.gyro_y*1000) / gyrsense) * dt;\n    \n    forceMagnitudeApprox = Math.abs((d.acc_x*1000))+Math.abs((d.acc_y*1000))+Math.abs((d.acc_z*1000));\n    \n    if (forceMagnitudeApprox > 8192 && forceMagnitudeApprox < 32768)\n    {\n    // Turning around the X axis results in a vector on the Y-axis\n        pitchAcc = Math.atan2((d.acc_y *1000), (d.acc_z*1000)) * 180 / Math.PI;\n        pitch = pitch * 0.98 + pitchAcc * 0.02;\n    \n    // Turning around the Y axis results in a vector on the X-axis\n        rollAcc = Math.atan2((d.acc_x*1000), (d.acc_z*1000)) * 180 / Math.PI;\n        roll = roll * 0.98 + rollAcc * 0.02;\n    }\n    \n    pitchDiff = Math.abs(Math.abs(flow.get('pitch')) - Math.abs(pitch));\n    rollDiff = Math.abs(Math.abs(flow.get('roll')) - Math.abs(roll));\n    \n    \n    msg.payload.d.pitch = pitch;\n    msg.payload.d.pitchdiff = pitchDiff;\n    msg.payload.d.roll = roll;\n    msg.payload.d.rolldiff = rollDiff;\n    \n    var acc_x = msg.payload.d.acc_x.split(',').join('.');\n    var acc_y = msg.payload.d.acc_y.split(',').join('.');\n    var acc_z = msg.payload.d.acc_z.split(',').join('.');\n    var magnitude = Math.sqrt((acc_x*acc_x)+(acc_y*acc_y)+(acc_z*acc_z))\n\n\n    //////////////////////////////////////////\n    //  Events\n    //////////////////////////////////////////\n    // Is this a crash event?\n    if(magnitude > flow.get('allowed-acc') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n\n\n    // Is this a over heating event?\n    // Going with object temperature for now. Will tweak as needed\n    if (d.object_temp > flow.get('too-hot') && event_allowed(\"OVERHEATED\")) {\n        disallow_event(\"OVERHEATED\");\n        msg.payload.d.event = \"OVERHEATED\";\n    }\n    \n    // Is this a freezing event?\n    // Going with object temperature for now. Will tweak as needed\n    if (d.object_temp < flow.get('too-cold') && event_allowed(\"OIL_FREEZING\")) {\n        disallow_event(\"OIL_FREEZING\");\n        msg.payload.d.event = \"OIL_FREEZING\";\n    }\n    \n    flow.set('pitch', pitch);\n    flow.set('roll', roll);\n}\n\n\n\n    // added for my testing in node-red. possibly can be removed as timestamp will come from chaincode\n    var currentdate = new Date(); \n    var datetime = currentdate.getDate() + \"/\";\n     datetime +=(currentdate.getMonth()+1)  + \"/\" ;\n     datetime +=currentdate.getFullYear() + \" @ \"  ;\n     datetime +=currentdate.getHours() + \":\"  ;\n     datetime +=currentdate.getMinutes() + \":\" ;\n     datetime +=currentdate.getSeconds() + \" UTC\";\n     msg.payload.d.eventtime = datetime;\n     flow.set('lastevent',msg.payload.d.event);\n     if (msg.payload.d.event == lastevent) {\n         msg.payload.d.event = \"NONE\";\n     }\n     \nfunction event_allowed(event_type)\n{\n    return force === true || flow.get('allowed-events').includes(event_type)\n}\nfunction disallow_event(event_type)\n{\n    var events = flow.get('allowed-events');\n    var index = events.indexOf(event_type);\n    if (index !== -1) {\n        events.splice(index, 1);\n        flow.set('allowed-events', events)\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1180,"y":460,"wires":[["6e34b22d.c35ea4"]]},{"id":"6e34b22d.c35ea4","type":"switch","z":"2ac0702d.23d99","name":"Event","property":"payload.d.event","propertyType":"msg","rules":[{"t":"eq","v":"ACTIVATED","vt":"str"},{"t":"eq","v":"NONE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1350,"y":460,"wires":[["2ebe226c.a905de"],["797b720f.3a575c"],["fdbf5714.c0bee","4f960775.f9e63"]]},{"id":"a3a6db12.c0ce5","type":"inject","z":"2ac0702d.23d99","name":"PUSH CONNECT ATTEMPT","topic":"","payload":"{\"d\":{\"myName\":\"CC2650 SensorTag\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":400,"y":240,"wires":[["d01a0e39.24e6e","9a082e7a.378a1"]]},{"id":"30dc4345.6be354","type":"function","z":"2ac0702d.23d99","name":"HOT PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,03\",\n        \"object_temp\": \"\"+(flow.get('too-hot')+1),\n        \"acc_x\": \"-0,02\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"-1,02\"\n    },\n    \"force\": true\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["d01a0e39.24e6e"]]},{"id":"acb2a4d7.497418","type":"function","z":"2ac0702d.23d99","name":"COLD PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,03\",\n        \"object_temp\": \"\"+(flow.get('too-cold')-1),\n        \"acc_x\": \"-0,02\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"-1,02\"\n    },\n    \"force\": true\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["d01a0e39.24e6e"]]},{"id":"19de1ba0.416914","type":"function","z":"2ac0702d.23d99","name":"CRASH PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,00\",\n        \"object_temp\": \"35,22\",\n        \"acc_x\": \"0,00\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"\"+(flow.get('allowed-acc')+1)\n    },\n    \"force\": true\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["d01a0e39.24e6e"]]},{"id":"2ebe226c.a905de","type":"function","z":"2ac0702d.23d99","name":"Connection Event","func":"var eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.connected = true;\nreturn eventMsg;","outputs":1,"noerr":0,"x":1530,"y":400,"wires":[["40cb8e3a.8c0748","aa17f16d.0ab968"]]},{"id":"797b720f.3a575c","type":"function","z":"2ac0702d.23d99","name":"Regular Stream","func":"var acc_x = msg.payload.d.acc_x.split(',').join('.');\nvar acc_y = msg.payload.d.acc_y.split(',').join('.');\nvar acc_z = msg.payload.d.acc_z.split(',').join('.');\nvar magnitude = Math.sqrt((acc_x*acc_x)+(acc_y*acc_y)+(acc_z*acc_z))\n\nvar eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.acceleration = magnitude;\neventMsg.payload.outsideTemperature = msg.payload.d.ambient_temp.split(',').join('.');\neventMsg.payload.objectTemperature = msg.payload.d.object_temp.split(',').join('.');\neventMsg.payload.lightLevel = msg.payload.d.light.split(',').join('.');\nreturn eventMsg;","outputs":1,"noerr":0,"x":1520,"y":460,"wires":[["aa17f16d.0ab968"]]},{"id":"511fd177.56b658","type":"inject","z":"2ac0702d.23d99","name":"PUSH OVERHEATED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":280,"wires":[["30dc4345.6be354"]]},{"id":"227f3ab0.362256","type":"inject","z":"2ac0702d.23d99","name":"PUSH OIL_FREEZING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":320,"wires":[["acb2a4d7.497418"]]},{"id":"9fbea649.efc24","type":"inject","z":"2ac0702d.23d99","name":"PUSH CRASH","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":250,"y":360,"wires":[["19de1ba0.416914"]]},{"id":"40cb8e3a.8c0748","type":"function","z":"2ac0702d.23d99","name":"Reset allowable events list","func":"flow.set('allowed-events', [\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"])\nreturn msg","outputs":1,"noerr":0,"x":1800,"y":400,"wires":[[]]},{"id":"fdbf5714.c0bee","type":"function","z":"2ac0702d.23d99","name":"parse","func":"var eventMsg = {}\nvar message = msg.payload.d;\nvar acceleration = Math.sqrt((message.acc_x*message.acc_x)+(message.acc_y*message.acc_y)+(message.acc_z*message.acc_z))\n\neventMsg.payload = {\n    \"eventType\": flow.get('events').indexOf(message.event),\n    \"acceleration\": acceleration * 1,\n    \"roll\": message.roll * 1,\n    \"pitch\": message.pitch * 1,\n    \"engineTemperature\": message.object_temp * 1,\n    \"airTemperature\": message.ambient_temp * 1,\n    \"lightLevel\": message.light * 1\n}\neventMsg.url = flow.get('url') + '/vehicles/' + flow.get('vin') + '/usage';\neventMsg.headers = {}\neventMsg.headers['Authorization'] = 'Basic dGVsZW1hdGljczp0ZWxlbWF0aWNzcHc='; // USED BTOA TO GET VALUE\nreturn eventMsg;\n","outputs":1,"noerr":0,"x":1530,"y":520,"wires":[["3b857469.760b04"]]},{"id":"3b857469.760b04","type":"http request","z":"2ac0702d.23d99","name":"post usage","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1690,"y":520,"wires":[["b4d600f.ed0c"]]},{"id":"b4d600f.ed0c","type":"debug","z":"2ac0702d.23d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":520,"wires":[]},{"id":"195ff2cf.cb66dd","type":"ibmiot in","z":"2ac0702d.23d99","authentication":"quickstart","apiKey":"fbf35433.e0a02","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"546c0e80a684","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":470,"y":460,"wires":[["d01a0e39.24e6e","f64725b6.b06228"]]},{"id":"108acfe8.9ace3","type":"http in","z":"2ac0702d.23d99","name":"","url":"/vin","method":"post","upload":false,"swaggerDoc":"","x":140,"y":760,"wires":[["ab1c40d.bb3964","fbd34b1.39e2bb8"]]},{"id":"68a65236.ccb27c","type":"debug","z":"2ac0702d.23d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":760,"wires":[]},{"id":"aa17f16d.0ab968","type":"function","z":"2ac0702d.23d99","name":"set url","func":"msg.url = flow.get('url') + '/vehicles/' + flow.get('vin') + '/telemetry';\nmsg.headers = {}\nmsg.headers['Authorization'] = 'Basic dGVsZW1hdGljczp0ZWxlbWF0aWNzcHc='; // USED BTOA TO GET VALUE\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":460,"wires":[["f07f1c7f.b8992"]]},{"id":"f07f1c7f.b8992","type":"http request","z":"2ac0702d.23d99","name":"post telemetry","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1900,"y":460,"wires":[["a09b35b4.bf31b"]]},{"id":"a09b35b4.bf31b","type":"debug","z":"2ac0702d.23d99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2090,"y":460,"wires":[]},{"id":"fbd34b1.39e2bb8","type":"http response","z":"2ac0702d.23d99","name":"","statusCode":"200","headers":{},"x":360,"y":800,"wires":[]},{"id":"9a082e7a.378a1","type":"trigger","z":"2ac0702d.23d99","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1000","extend":false,"units":"ms","reset":"disconnect","bytopic":"all","name":"TICK EVERY SEC","x":690,"y":240,"wires":[["83a859fb.5124a"]]},{"id":"edb2c6f1.ca162","type":"inject","z":"2ac0702d.23d99","name":"PUSH DISCONNECT","topic":"","payload":"disconnect","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":200,"wires":[["9a082e7a.378a1"]]},{"id":"83a859fb.5124a","type":"function","z":"2ac0702d.23d99","name":"FAKE SENSOR DATA","func":"const randLight = Math.random() * (500 - 400) + 400;\nconst randEngineTemp = Math.random() * (60 - 50) + 50;\nconst randAirTemp = Math.random() * (25 - 20) + 20;\n\nconst maxAcc = flow.get('allowed-acc') - 0.5;\nconst minAcc =  flow.get('allowed-acc')/2;\nconst randAcc = Math.random() * (maxAcc - minAcc) + minAcc\n\n\nmsg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,00\",\n        \"compass_y\": \"0,00\",\n        \"acc_y\": \"0,00\",\n        \"object_temp\": \"\" + randEngineTemp,\n        \"acc_x\": \"-0,00\",\n        \"light\": \"\" + randLight,\n        \"gyro_z\": \"-0,00\",\n        \"compass_x\": \"0,00\",\n        \"ambient_temp\": \"\" + randAirTemp,\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,00\",\n        \"compass_z\": \"0,00\",\n        \"acc_z\": \"-\" + randAcc\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":240,"wires":[["d01a0e39.24e6e"]]},{"id":"f64725b6.b06228","type":"debug","z":"2ac0702d.23d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":520,"wires":[]},{"id":"4f960775.f9e63","type":"delay","z":"2ac0702d.23d99","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":580,"wires":[["4bd711b2.9d64c"]]},{"id":"4bd711b2.9d64c","type":"function","z":"2ac0702d.23d99","name":"Allow event again","func":"var events = flow.get('allowed-events');\nvar event_type = msg.payload.d.event;\nvar index = events.indexOf(event_type);\nif (index === -1) {\n    events.push(event_type);\n    flow.set('allowed-events', events)\n}","outputs":1,"noerr":0,"x":1710,"y":580,"wires":[[]]},{"id":"fbf35433.e0a02","type":"ibmiot","z":"","name":"IOTP","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]