packages/vehicle-lifecycle/composer-data-latest/flows.json
[{"id":"7e372540.24355c","type":"tab","label":"Main Flow"},{"id":"dc747ed9.90832","type":"tab","label":"Query Flow"},{"id":"a333211b.340d88","type":"tab","label":"IoT Flow","disabled":false,"info":""},{"id":"2fc29e6d.ebbea2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"9694475c.ed1588","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"a5b5c2ca.76bf2","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"47184e15.1506b","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"4f92ed65.d4e68c","type":"websocket-listener","z":"","path":"ws://iot-insurance.eu-gb.mybluemix.net/ws/iot/event","wholemsg":"false"},{"id":"47fd26bf.36f778","type":"websocket-listener","z":"","path":"/ws/requestpolicy","wholemsg":"false"},{"id":"a7f5387a.a49ce","type":"websocket-listener","z":"","path":"/ws/createpolicy","wholemsg":"false"},{"id":"c13ba6.a91c5c58","type":"hyperledger-composer-config","z":"","connectionProfile":"hlfv1","businessNetworkIdentifier":"vehicle-lifecycle-network","userID":"admin","userSecret":"adminpw"},{"id":"15ebe249.26eaf6","type":"websocket-listener","z":"","path":"/ws/addusageevent","wholemsg":"false"},{"id":"337c31e4.08a476","type":"websocket-listener","z":"","path":"/ws/addusageevent","wholemsg":"false"},{"id":"51e4622f.b7233c","type":"websocket-listener","z":"","path":"/ws/createusagerecord","wholemsg":"false"},{"id":"23dd50.866a2ab","type":"ibmiot","z":"","name":"IOTP","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"11a692fd.eadc05","type":"websocket-listener","z":"","path":"/ws/iot/event","wholemsg":"false"},{"id":"682f961d.6a1df8","type":"websocket-listener","z":"","path":"/ws/iot","wholemsg":"false"},{"id":"cba5878e.95c9c","type":"websocket in","z":"7e372540.24355c","name":"","server":"2fc29e6d.ebbea2","client":"","x":146,"y":69,"wires":[["8771e30a.750be8","26f2cf95.58ad8"]]},{"id":"84692fdf.39c738","type":"websocket out","z":"7e372540.24355c","name":"","server":"2fc29e6d.ebbea2","client":"","x":890,"y":260,"wires":[]},{"id":"2858b03.dc926d","type":"websocket in","z":"7e372540.24355c","name":"","server":"9694475c.ed1588","client":"","x":210,"y":1060,"wires":[["f01b27be.c4dd28","fc38c1a3.18ec5"]]},{"id":"8e956324.1cd288","type":"websocket out","z":"7e372540.24355c","name":"","server":"9694475c.ed1588","client":"","x":920,"y":300,"wires":[]},{"id":"f01b27be.c4dd28","type":"debug","z":"7e372540.24355c","name":"received UpdateOrderStatus socket msg","active":false,"console":"false","complete":"true","x":534.5,"y":1116,"wires":[]},{"id":"d821d8d.f238c28","type":"function","z":"7e372540.24355c","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/PlaceOrder'\nreturn msg;\n","outputs":1,"noerr":0,"x":689,"y":99,"wires":[["edc24bcb.2c85b8","ee311537.480e6"]]},{"id":"3d68f95f.86eb16","type":"inject","z":"7e372540.24355c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":1220,"wires":[["11aaafa3.76d5d"]]},{"id":"e8b5f9e0.b8085","type":"function","z":"7e372540.24355c","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.$class = 'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus';\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":1067,"wires":[["29c3d4c2.6d1994","b338a4b5.0f9c8"]]},{"id":"26f2cf95.58ad8","type":"change","z":"7e372540.24355c","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":372,"y":69,"wires":[["4c2e9941.a62198"]]},{"id":"c0532c6.64538d","type":"inject","z":"7e372540.24355c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":1262,"wires":[["e74d3154.2c106"]]},{"id":"e0c210d.5a3727","type":"http request","z":"7e372540.24355c","name":"setup demo","method":"POST","ret":"obj","url":"","tls":"","x":488,"y":1262,"wires":[["7ea90245.2af664"]]},{"id":"7ea90245.2af664","type":"debug","z":"7e372540.24355c","name":"","active":true,"console":"false","complete":"false","x":672,"y":1262,"wires":[]},{"id":"e74d3154.2c106","type":"function","z":"7e372540.24355c","name":"set msg.url","func":"msg.url = context.global.endpoint + '/SetupDemo';\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":1262,"wires":[["e0c210d.5a3727"]]},{"id":"85650d63.f2e598","type":"inject","z":"7e372540.24355c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179.5,"y":1301,"wires":[["ec3864c4.86fb18"]]},{"id":"a5e8635.9109b2","type":"http request","z":"7e372540.24355c","name":"get orders","method":"GET","ret":"obj","url":"","tls":"","x":487.5,"y":1301,"wires":[["d23cb622.ac67b8"]]},{"id":"d23cb622.ac67b8","type":"debug","z":"7e372540.24355c","name":"","active":true,"console":"false","complete":"false","x":671.5,"y":1301,"wires":[]},{"id":"ec3864c4.86fb18","type":"function","z":"7e372540.24355c","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Order';\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":1301,"wires":[["a5e8635.9109b2"]]},{"id":"ec1bcab4.41ff08","type":"inject","z":"7e372540.24355c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179.5,"y":1341,"wires":[["e47ecf49.3d8a58"]]},{"id":"a2e536dc.16f3d","type":"http request","z":"7e372540.24355c","name":"get vehicles","method":"GET","ret":"obj","url":"","tls":"","x":487.5,"y":1341,"wires":[["1b317a71.d2a30e"]]},{"id":"1b317a71.d2a30e","type":"debug","z":"7e372540.24355c","name":"","active":true,"console":"false","complete":"false","x":671.5,"y":1341,"wires":[]},{"id":"e47ecf49.3d8a58","type":"function","z":"7e372540.24355c","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Vehicle';\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":1341,"wires":[["a2e536dc.16f3d"]]},{"id":"23cf4c4d.f7fefc","type":"inject","z":"7e372540.24355c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178.5,"y":1382,"wires":[["9e897b31.650268"]]},{"id":"e20f6156.17ce88","type":"http request","z":"7e372540.24355c","name":"get transactions","method":"GET","ret":"obj","url":"","tls":"","x":496.5,"y":1382,"wires":[["d3aedafe.342c48"]]},{"id":"d3aedafe.342c48","type":"debug","z":"7e372540.24355c","name":"","active":true,"console":"false","complete":"false","x":670.5,"y":1382,"wires":[]},{"id":"9e897b31.650268","type":"function","z":"7e372540.24355c","name":"set msg.url","func":"msg.url = context.global.endpoint + '/UpdateOrderStatus';\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":1382,"wires":[["e20f6156.17ce88"]]},{"id":"4c2e9941.a62198","type":"switch","z":"7e372540.24355c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":557,"y":69,"wires":[["a50d32e5.9ab63"],["d821d8d.f238c28"]]},{"id":"973849a7.756578","type":"websocket out","z":"7e372540.24355c","name":"","server":"2fc29e6d.ebbea2","client":"","x":862.5,"y":51,"wires":[]},{"id":"a50d32e5.9ab63","type":"function","z":"7e372540.24355c","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":51,"wires":[["973849a7.756578"]]},{"id":"fc38c1a3.18ec5","type":"switch","z":"7e372540.24355c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":429,"y":1060,"wires":[["3fcf2bdd.3103cc"],["e8b5f9e0.b8085"]]},{"id":"e5639225.e721f8","type":"change","z":"7e372540.24355c","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":1020,"wires":[["38c91842.81353"]]},{"id":"38c91842.81353","type":"websocket out","z":"7e372540.24355c","name":"","server":"9694475c.ed1588","client":"","x":1085,"y":1020,"wires":[]},{"id":"3fcf2bdd.3103cc","type":"function","z":"7e372540.24355c","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":1019,"wires":[["e5639225.e721f8"]]},{"id":"e41502ea.2a4b88","type":"hyperledger-composer-in","z":"7e372540.24355c","name":"receive event","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":130,"y":320,"wires":[["f38aa7b2.7f7258","c01c05cf.df78f"]]},{"id":"f38aa7b2.7f7258","type":"debug","z":"7e372540.24355c","name":"event received","active":false,"console":"false","complete":"true","x":340,"y":220,"wires":[]},{"id":"c01c05cf.df78f","type":"switch","z":"7e372540.24355c","name":"","property":"$class","propertyType":"msg","rules":[{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.PlaceOrderEvent","vt":"str"},{"t":"eq","v":"org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatusEvent","vt":"str"},{"t":"eq","v":"org.vda.AddUsageEventEvent","vt":"str"},{"t":"eq","v":"org.insurance.PolicyEvent","vt":"str"},{"t":"eq","v":"org.vda.CreateUsageRecordEvent","vt":"str"}],"checkall":"true","outputs":5,"x":310,"y":320,"wires":[["e8b2e5fd.da0838","91f9394e.c2a69"],["d2f669e7.8c5698"],["be3b91ac.718558"],["bd8b1378.1ed95"],["12f4a57b.ee5723"]]},{"id":"8771e30a.750be8","type":"debug","z":"7e372540.24355c","name":"received PlaceOrder socket msg","active":false,"console":"false","complete":"true","x":411,"y":130,"wires":[]},{"id":"edc24bcb.2c85b8","type":"hyperledger-composer-out","z":"7e372540.24355c","name":"submit placeorder tx","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":874,"y":102,"wires":[]},{"id":"e7eb9162.b719a","type":"hyperledger-composer-out","z":"7e372540.24355c","name":"submit update status tx","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":910,"y":220,"wires":[]},{"id":"e8b2e5fd.da0838","type":"function","z":"7e372540.24355c","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.orderId = msg.orderId;\neventMsg.payload.vehicleDetails = msg.vehicleDetails;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["84692fdf.39c738"]]},{"id":"d2f669e7.8c5698","type":"function","z":"7e372540.24355c","name":"parse","func":"eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.order = msg.order;\neventMsg.payload.orderStatus = msg.orderStatus;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["8e956324.1cd288"]]},{"id":"ee311537.480e6","type":"debug","z":"7e372540.24355c","name":"transaction payload","active":false,"console":"false","complete":"payload","x":864.5,"y":147,"wires":[]},{"id":"91f9394e.c2a69","type":"function","z":"7e372540.24355c","name":"create new payload","func":"var order = msg;\nconsole.log('What is the event payload?',order)\ndelete msg._session;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nmsg.payload = {\n    \"$class\":'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus',\n    \"vin\": \"\",\n    \"v5c\": \"\",\n    \"numberPlate\": \"\",\n    \"order\": order.orderId,\n    \"orderStatus\": \"PLACED\"\n};\n\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["e7eb9162.b719a"]]},{"id":"29c3d4c2.6d1994","type":"debug","z":"7e372540.24355c","name":"transaction payload","active":false,"console":"false","complete":"payload","x":818,"y":1113,"wires":[]},{"id":"b338a4b5.0f9c8","type":"hyperledger-composer-out","z":"7e372540.24355c","name":"submit update status tx","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":834,"y":1067,"wires":[]},{"id":"2a678abb.6e329e","type":"function","z":"7e372540.24355c","name":"REST API URL Configuration","func":"let something;\nif(msg.payload.trim()){\n    context.global.endpoint = msg.payload.trim();\n}\nelse{\n    context.global.endpoint = \"http://localhost:4000/api\";\n}\nconsole.log('What is context.global.endpoint?',context.global.endpoint);","outputs":1,"noerr":0,"x":736.5,"y":1216,"wires":[[]]},{"id":"11aaafa3.76d5d","type":"exec","z":"7e372540.24355c","command":"echo $COMPOSER_BASE_URL","addpay":false,"append":"","useSpawn":"","timer":"","name":"Get REST API Environment Variable","x":403.5,"y":1218.5,"wires":[["2a678abb.6e329e"],[],[]]},{"id":"416639d7.b444a","type":"inject","z":"dc747ed9.90832","name":"","topic":"","payload":"{\"$class\": \"org.vda.ScrapAllVehiclesByColour\", \"colour\":\"grey\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":183,"y":71,"wires":[["ddb88427.20d4c8"]]},{"id":"ddb88427.20d4c8","type":"hyperledger-composer-out","z":"dc747ed9.90832","name":"ScrapAllVehiclesByColour","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":479,"y":70.75,"wires":[]},{"id":"ee68df9e.13efa8","type":"websocket in","z":"7e372540.24355c","name":"","server":"47fd26bf.36f778","client":"","x":160,"y":820,"wires":[["1cc81977.0a3627"]]},{"id":"1cc81977.0a3627","type":"change","z":"7e372540.24355c","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":820,"wires":[["5ed7a08f.9ce6f8"]]},{"id":"5ed7a08f.9ce6f8","type":"websocket out","z":"7e372540.24355c","name":"","server":"47fd26bf.36f778","client":"","x":780,"y":820,"wires":[]},{"id":"ffca194c.d5bb","type":"websocket in","z":"7e372540.24355c","name":"","server":"a7f5387a.a49ce","client":"","x":160,"y":900,"wires":[["5926ba70.b3c6e4"]]},{"id":"5926ba70.b3c6e4","type":"change","z":"7e372540.24355c","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":900,"wires":[["4dbed88.f17b128"]]},{"id":"4dbed88.f17b128","type":"function","z":"7e372540.24355c","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/CreatePolicy'\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":900,"wires":[["33bcdadf.f19e46"]]},{"id":"33bcdadf.f19e46","type":"hyperledger-composer-out","z":"7e372540.24355c","name":"submit createpolicy tx","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":880,"y":900,"wires":[]},{"id":"be3b91ac.718558","type":"function","z":"7e372540.24355c","name":"parse","func":"eventMsg = {};\neventMsg.payload = msg;\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["1a1d6c42.bcaabc"]]},{"id":"1a1d6c42.bcaabc","type":"websocket out","z":"7e372540.24355c","name":"","server":"15ebe249.26eaf6","client":"","x":910,"y":340,"wires":[]},{"id":"41ac92a0.331b24","type":"websocket in","z":"7e372540.24355c","name":"","server":"51e4622f.b7233c","client":"","x":180,"y":700,"wires":[["684f681.b47b418"]]},{"id":"684f681.b47b418","type":"change","z":"7e372540.24355c","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":700,"wires":[["743f0074.cde058"]]},{"id":"743f0074.cde058","type":"function","z":"7e372540.24355c","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/CreateUsageRecord'\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["2bf1bd18.98dc52"]]},{"id":"2bf1bd18.98dc52","type":"hyperledger-composer-out","z":"7e372540.24355c","name":"submit createusagerecord tx","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":940,"y":700,"wires":[]},{"id":"f1f32582.704c78","type":"websocket out","z":"7e372540.24355c","name":"","server":"a7f5387a.a49ce","client":"","x":900,"y":380,"wires":[]},{"id":"bd8b1378.1ed95","type":"function","z":"7e372540.24355c","name":"parse","func":"eventMsg = {};\neventMsg.payload = msg;\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["f1f32582.704c78"]]},{"id":"3a773df8.6b0d62","type":"websocket out","z":"7e372540.24355c","name":"","server":"51e4622f.b7233c","client":"","x":920,"y":420,"wires":[]},{"id":"12f4a57b.ee5723","type":"function","z":"7e372540.24355c","name":"parse","func":"eventMsg = {};\neventMsg.payload = msg;\n\nreturn eventMsg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["3a773df8.6b0d62"]]},{"id":"d6774d8e.df256","type":"ibmiot in","z":"a333211b.340d88","authentication":"quickstart","apiKey":"23dd50.866a2ab","inputType":"evt","deviceId":"b0b448c04e85","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoTP out","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":510,"y":380,"wires":[["bb508cc9.79be78"]]},{"id":"1fe9b851.3ddb6","type":"switch","z":"a333211b.340d88","name":"Event","property":"payload.d.event","propertyType":"msg","rules":[{"t":"eq","v":"ACTIVATED","vt":"str"},{"t":"eq","v":"NONE","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1130,"y":380,"wires":[["ff88bada.c82748"],["d83373c2.b43c8"],["472e9314.4fc08c"]]},{"id":"bb508cc9.79be78","type":"function","z":"a333211b.340d88","name":"Compute Event","func":"// Ref: http://www.pieter-jan.com/node/11\n// Using a complimentary filer\n\nvar events = flow.get('events');\n//\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"\nvar lastevent = flow.get('lastevent') |\"NONE\";\nvar vin = flow.get('vin') || \"UNDEFINED\";\nd = msg.payload.d;\nvar key_count = 0;\nfor(var key in d)\n{\n    d[key] = d[key].split(',').join('.');\n}\nif(d.accelX)\n{\n    // DATA SENT BY IPHONE NEED TO FORMAT IT AS ANDROID WOULD\n    for(var key in d)\n    {\n        var new_key = key.replace(/([A-Z])/g, function($1){return \"_\"+$1.toLowerCase();});\n        if(key.indexOf('accel') != -1)\n        {\n            new_key = new_key.split('el').join('')\n        }\n        d[new_key] = d[key]\n    }\n}\nmsg.payload.d.event = \"NONE\";\nmsg.payload.d.vin = vin;\n\nvar num_keys = Object.keys(d).length;\n\nif (d.myName && num_keys == 3){  // ON CONNECT EVENT DEVICE JUST SENDS 1 FIELD SO CHECK IF EQUAL TO 3 AS WE ADD 2\n        msg.payload.d.event = \"ACTIVATED\";\n} else {\n    // basic assumption: since this is a demo, it is unlikely that two of our events \n    // will occur simultaneously - mag TBD\n    // If they do, overwrites may happen\n    //////////////////////////////////////////////\n    //For Crash related events\n    var pitch       =   flow.get('pitch')||0;\n    var roll        =   flow.get('roll')||0;\n    var accsense    =   flow.get('accSensitivity')||0;\n    var gyrsense    =   flow.get('gyroSensitivity')||0;\n    var dt          =   flow.get('dt',0.01);\n    \n    // pitch and roll calculation -  can be trained further\n    pitch += ((d.gyro_x*1000) / gyrsense) * dt;\n    roll -= ((d.gyro_y*1000) / gyrsense) * dt;\n    \n    forceMagnitudeApprox = Math.abs((d.acc_x*1000))+Math.abs((d.acc_y*1000))+Math.abs((d.acc_z*1000));\n    \n    if (forceMagnitudeApprox > 8192 && forceMagnitudeApprox < 32768)\n    {\n    // Turning around the X axis results in a vector on the Y-axis\n        pitchAcc = Math.atan2((d.acc_y *1000), (d.acc_z*1000)) * 180 / Math.PI;\n        pitch = pitch * 0.98 + pitchAcc * 0.02;\n    \n    // Turning around the Y axis results in a vector on the X-axis\n        rollAcc = Math.atan2((d.acc_x*1000), (d.acc_z*1000)) * 180 / Math.PI;\n        roll = roll * 0.98 + rollAcc * 0.02;\n    }\n    \n    pitchDiff = Math.abs(Math.abs(flow.get('pitch')) - Math.abs(pitch));\n    rollDiff = Math.abs(Math.abs(flow.get('roll')) - Math.abs(roll));\n    \n    \n    msg.payload.d.pitch = pitch;\n    msg.payload.d.pitchdiff = pitchDiff;\n    msg.payload.d.roll = roll;\n    msg.payload.d.rolldiff = rollDiff;\n    \n    var acc_x = msg.payload.d.acc_x.split(',').join('.');\n    var acc_y = msg.payload.d.acc_y.split(',').join('.');\n    var acc_z = msg.payload.d.acc_z.split(',').join('.');\n    var magnitude = Math.sqrt((acc_x*acc_x)+(acc_y*acc_y)+(acc_z*acc_z))\n\n    ///////////////////////////////////////\n    // For Temp related Events\n    var lastambtemp =   flow.get('lastambtemp')||d.ambient_temp;\n    var lastobjtemp =   flow.get('lastobjtemp')||d.object_temp;\n    /////////////////////////////////////////\n    // Similarly, to come for magnetometer - not yet tested\n    \n    //////////////////////////////////////////\n    //  Events\n    //////////////////////////////////////////\n    // Is this a crash event?\n    if(magnitude > flow.get('allowed-acc') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    /*\n    if (Math.abs(d.acc_x - flow.get('resting-x-acc')) > flow.get('accelerometer-allowable-diff') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    if (Math.abs(d.acc_y - flow.get('resting-y-acc')) > flow.get('accelerometer-allowable-diff') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    if (Math.abs(d.acc_z - flow.get('resting-z-acc')) > flow.get('accelerometer-allowable-diff') && event_allowed(\"CRASHED\"))\n    {\n        disallow_event(\"CRASHED\");\n        msg.payload.d.event = \"CRASHED\";\n    }\n    */\n    /*\n    if (pitchDiff >flow.get('pitchdelta') && rollDiff >flow.get('rolldelta'))\n        msg.payload.d.event = \"CRASHED\";\n    */    \n    // Is this a over heating event?\n    // Going with object temperature for now. Will tweak as needed\n    if (d.object_temp > flow.get('too-hot') && event_allowed(\"OVERHEATED\")) {\n        disallow_event(\"OVERHEATED\");\n        msg.payload.d.event = \"OVERHEATED\";\n    }\n    \n    // Is this a freezing event?\n    // Going with object temperature for now. Will tweak as needed\n    if (d.object_temp < flow.get('too-cold') && event_allowed(\"OIL_FREEZING\")) {\n        disallow_event(\"OIL_FREEZING\");\n        msg.payload.d.event = \"OIL_FREEZING\";\n    }\n    // TODO: Add Magnetometer calculation to determine engine failure\n    // Set the flow context  variables with the new values\n    \n    flow.set('pitch', pitch);\n    flow.set('roll', roll);\n    msg.payload.d.lastobjtemp = lastobjtemp;\n    flow.set('lastambtemp',d.ambient_temp);\n    flow.set('lastobjtemp',d.object_temp);\n    // To be fed in from the webhook - overwrite device id with vin number\n    msg.payload.d.vehicleId = \"VIN001\";\n}\n\n\n\n    // added for my testing in node-red. possibly can be removed as timestamp will come from chaincode\n    var currentdate = new Date(); \n    var datetime = currentdate.getDate() + \"/\";\n     datetime +=(currentdate.getMonth()+1)  + \"/\" ;\n     datetime +=currentdate.getFullYear() + \" @ \"  ;\n     datetime +=currentdate.getHours() + \":\"  ;\n     datetime +=currentdate.getMinutes() + \":\" ;\n     datetime +=currentdate.getSeconds() + \" UTC\";\n     msg.payload.d.eventtime = datetime;\n     flow.set('lastevent',msg.payload.d.event);\n     if (msg.payload.d.event == lastevent) {\n         msg.payload.d.event = \"NONE\";\n     }\n     \nfunction event_allowed(event_type)\n{\n    return flow.get('allowed-events').includes(event_type)\n}\nfunction disallow_event(event_type)\n{\n    var events = flow.get('allowed-events');\n    var index = events.indexOf(event_type);\n    if (index !== -1) {\n        events.splice(index, 1);\n        flow.set('allowed-events', events)\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":911,"y":380,"wires":[["1fe9b851.3ddb6"]]},{"id":"472e9314.4fc08c","type":"function","z":"a333211b.340d88","name":"Create an Event","func":"var eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.d = msg.payload.d\nreturn eventMsg;","outputs":1,"noerr":0,"x":1320,"y":460,"wires":[["10005254.e4016e"]]},{"id":"978bf183.a63a9","type":"websocket out","z":"a333211b.340d88","name":"","server":"682f961d.6a1df8","client":"","x":1550,"y":380,"wires":[]},{"id":"d83373c2.b43c8","type":"function","z":"a333211b.340d88","name":"Regular Stream","func":"var acc_x = msg.payload.d.acc_x.split(',').join('.');\nvar acc_y = msg.payload.d.acc_y.split(',').join('.');\nvar acc_z = msg.payload.d.acc_z.split(',').join('.');\nvar magnitude = Math.sqrt((acc_x*acc_x)+(acc_y*acc_y)+(acc_z*acc_z))\n\nvar eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.acceleration = magnitude;\neventMsg.payload.outside_temperature = msg.payload.d.ambient_temp.split(',').join('.');\neventMsg.payload.object_temperature = msg.payload.d.object_temp.split(',').join('.');\neventMsg.payload.light_level = msg.payload.d.light.split(',').join('.');\nreturn eventMsg;","outputs":1,"noerr":0,"x":1320,"y":380,"wires":[["978bf183.a63a9"]]},{"id":"ff88bada.c82748","type":"function","z":"a333211b.340d88","name":"Connection Event","func":"var eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.connected = true;\nreturn eventMsg;","outputs":1,"noerr":0,"x":1330,"y":300,"wires":[["48d56c16.333914","cb7f1ff1.f7dd1"]]},{"id":"48d56c16.333914","type":"websocket out","z":"a333211b.340d88","name":"","server":"682f961d.6a1df8","client":"","x":1550,"y":300,"wires":[]},{"id":"3b188f58.2c7af","type":"websocket in","z":"a333211b.340d88","name":"","server":"682f961d.6a1df8","client":"","x":190,"y":600,"wires":[["dd02964b.43a8e"]]},{"id":"dd02964b.43a8e","type":"function","z":"a333211b.340d88","name":"SET VIN","func":"flow.set('vin', JSON.parse(msg.payload).vin)\n\nvar eventMsg = {}\neventMsg.payload = {}\neventMsg.payload.vin = flow.get('vin')\nreturn eventMsg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["364f729e.7f5e4e"]]},{"id":"364f729e.7f5e4e","type":"debug","z":"a333211b.340d88","name":"","active":false,"console":"false","complete":"payload","x":530,"y":600,"wires":[]},{"id":"c30ac63f.efc258","type":"inject","z":"a333211b.340d88","name":"PUSH CONNECT ATTEMPT","topic":"","payload":"{\"d\":{\"myName\":\"CC2650 SensorTag\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":460,"y":180,"wires":[["bb508cc9.79be78"]]},{"id":"b9cf83d5.2ba26","type":"inject","z":"a333211b.340d88","name":"PUSH OVERHEATED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":220,"wires":[["e665e0b4.0694c"]]},{"id":"d6589205.ce451","type":"inject","z":"a333211b.340d88","name":"PUSH OIL_FREEZING","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":260,"wires":[["8880f41f.9df74"]]},{"id":"258d5fb0.71f42","type":"function","z":"a333211b.340d88","name":"INITIALISE ALLOWED","func":"flow.set('allowed-events', [\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"])\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["3ea3ccab.fd9674"]]},{"id":"4b832a73.fcb06c","type":"inject","z":"a333211b.340d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":210,"y":60,"wires":[["258d5fb0.71f42"]]},{"id":"efef3486.d246e","type":"inject","z":"a333211b.340d88","name":"PUSH CRASH","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":310,"y":300,"wires":[["c22601a4.2e30e8"]]},{"id":"cb7f1ff1.f7dd1","type":"function","z":"a333211b.340d88","name":"RESET ALLOWED EVENTS","func":"flow.set('allowed-events', [\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"])\nreturn msg","outputs":1,"noerr":0,"x":1600,"y":260,"wires":[[]]},{"id":"10005254.e4016e","type":"function","z":"a333211b.340d88","name":"parse","func":"var eventMsg = {}\nvar message = msg.payload.d;\nvar acceleration = Math.sqrt((message.acc_x*message.acc_x)+(message.acc_y*message.acc_y)+(message.acc_z*message.acc_z))\n\neventMsg.payload = {\n  \"$class\": \"org.vda.AddUsageEvent\",\n  \"vin\": message.vin,\n  \"usageEvent\": {\n    \"$class\": \"org.vda.UsageEvent\",\n    \"eventID\": generateID(),\n    \"eventType\": message.event,\n    \"acceleration\": acceleration,\n    \"roll\": message.roll,\n    \"pitch\": message.pitch,\n    \"engine_temperature\": message.object_temp,\n    \"air_temperature\": message.ambient_temp,\n    \"light_level\": message.light,\n    \"timestamp\": new Date()\n  }\n}\neventMsg.url = context.global.endpoint + '/AddUsageEvent'\n\nfunction generateID() { // EXISTING EVENTS DON'T COME WITH ID SO MAKE ONE FOR SCROLLING PURPOSES\n    function s4() {\n      return Math.floor((1 + Math.random()) * 0x10000)\n        .toString(16)\n        .substring(1);\n    }\n    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +\n        s4() + '-' + s4() + s4() + s4();\n}\n\nreturn eventMsg;\n","outputs":1,"noerr":0,"x":1530,"y":460,"wires":[["128e9e25.083252","fcdeeb76.73b318"]]},{"id":"128e9e25.083252","type":"hyperledger-composer-out","z":"a333211b.340d88","name":"submit addusageevent tx","composerProfile":"c13ba6.a91c5c58","actionType":"create","x":1750,"y":460,"wires":[]},{"id":"fcdeeb76.73b318","type":"debug","z":"a333211b.340d88","name":"","active":true,"console":"false","complete":"false","x":1710,"y":500,"wires":[]},{"id":"3ea3ccab.fd9674","type":"function","z":"a333211b.340d88","name":"Set Contexts","func":"// Ref: http://www.pieter-jan.com/node/11\n// This could easily be incorporated in the function, but \n// separating it out makes in cleaner and flow context helps expand the case\n//flow.set('count',0);\n// This will vary based on your IoTP device configuration\nflow.set('events','{\"ACTIVATED\",\"CRASHED\",\"OVERHEATED\",\"OIL_FREEZING\",\"ENGINE_FAILURE\"}');\nflow.set('deviceid',\"vehicle\");\nflow.set('pitch',0);\nflow.set('roll',0);\nflow.set('accSensitivity',8192.0);\nflow.set('gyroSensitivity',65.536);\nflow.set('dt',0.01);\t// 10 ms sample rate!\nflow.set('too-hot', 100);\nflow.set('too-cold', 5);\nflow.set('resting-x-acc', 0);\nflow.set('resting-y-acc', 0);\nflow.set('resting-z-acc', 1);\nflow.set('accelerometer-allowable-diff', 1);\nflow.set('allowed-acc', 2.2)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":60,"wires":[[]]},{"id":"e665e0b4.0694c","type":"function","z":"a333211b.340d88","name":"HOT PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,03\",\n        \"object_temp\": \"\"+(flow.get('too-hot')+1),\n        \"acc_x\": \"-0,02\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"-1,02\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["bb508cc9.79be78"]]},{"id":"8880f41f.9df74","type":"function","z":"a333211b.340d88","name":"COLD PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,03\",\n        \"object_temp\": \"\"+(flow.get('too-cold')-1),\n        \"acc_x\": \"-0,02\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"-1,02\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["bb508cc9.79be78"]]},{"id":"c22601a4.2e30e8","type":"function","z":"a333211b.340d88","name":"CRASH PAYLOAD","func":"msg.payload = {\n    \"d\": {\n        \"gyro_x\": \"-0,08\",\n        \"compass_y\": \"-35,67\",\n        \"acc_y\": \"0,03\",\n        \"object_temp\": \"35,22\",\n        \"acc_x\": \"-0,02\",\n        \"light\": \"476,96\",\n        \"gyro_z\": \"-0,34\",\n        \"compass_x\": \"-28,17\",\n        \"ambient_temp\": \"24,91\",\n        \"air_pressure\": \"907,32\",\n        \"gyro_y\": \"0,32\",\n        \"compass_z\": \"246,67\",\n        \"acc_z\": \"\"+(flow.get('resting-z-acc')+flow.get('accelerometer-allowable-diff')+1)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["bb508cc9.79be78"]]},{"id":"31d896c7.099ea2","type":"websocket in","z":"7e372540.24355c","name":"","server":"15ebe249.26eaf6","client":"","x":170,"y":580,"wires":[["94362f73.6b8e2"]]},{"id":"94362f73.6b8e2","type":"change","z":"7e372540.24355c","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":580,"wires":[[]]}]